@page "/"

<PageTitle>CodeRooms.exe</PageTitle>

<div id="background-grid" class="variable-font-size">
<div id="foreground">

<div id="stack-container">
	<div id="stack-label-container">
		<label id="stack-label">Stack</label>
	</div>
	<div id="stack-contents-scroll-container">
		<div id="stack-contents-container">
			<label class="stack-entry">Hello1</label>
			<label class="stack-entry">Hello2</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">PrinceOfPersiaTheSandsOfTimePrinceOfPersiaWarriorWithinPrinceOfPersiaTheTwoThrones</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
		</div>
	</div>
</div>

<div id="main-grid">
	<div id="text-editor-container">
		<textarea id="text-editor"/>
	</div>
	<div id="description-container">
		<textarea id="description" readonly>Description</textarea>
	</div>
	<div id="heap-idecontrols-container">
		<div id="heap-container">
			<div id="heap-label-container">
				<label id="heap-label">Heap</label>
			</div>
			<div id="heap-contents-scroll-container">
				<div id="heap-grid">
					@for (int y = 0; y < 5; y++)
					{
						@for (int x = 0; x < 10; x++)
						{
							int index = 10 * y + x;
							<div
								class="heap-empty-entry"
								style="grid-column: @(2 * x + 2); grid-row: @(2 * y + 2);"
							></div>
							<div
								class="heap-index-container"
								style="grid-column: @(2 * x + 2); grid-row: @(2 * y + 3);"
							>
								<label class="heap-index-label">@(index == 0 ? "null" : index)</label>
							</div>
						}
					}
				</div>
			</div>
		</div>
		<div id="ide-controls-container">
			<button id="compile-button" @onclick="OnCompilePressed">Compile</button>
			<button id="edit-button" @onclick="OnEditPressed">Edit</button>
			<button id="run-button" @onclick="OnRunPressed">Run</button>
			<div id="arrow-buttons-container">
				<button class="arrow-button" @onclick="OnLeftPressed">&lt;</button>
				<button class="arrow-button" @onclick="OnRightPressed">&gt;</button>
			</div>
			<button id="next-button" @onclick="OnNextPressed">Next</button>
		</div>
	</div>
	<div id="output-container">
		<textarea id="output" readonly>Output</textarea>
	</div>
	<div id="menu-container" class="variable-font-size">
		<div id="level-select-container">
			<div id="level-select-grid" class="variable-font-size">
				<button class="level-button">Free Code</button>
				<button class="level-button">Level 1: Declaration</button>
				<button class="level-button" disabled>Level 2: Initialisation</button>
				<button class="level-button" disabled>Level 3: Read/Write Variables</button>
				<button class="level-button" disabled>Level 4: Arithmetic</button>
				<button class="level-button" disabled>Level 5: Casts</button>
				<button class="level-button" disabled>Level 6: Booleans</button>
				<button class="level-button" disabled>Level 7: Reference Types</button>
				<button class="level-button" disabled>Level 8: Garbage Collection</button>
				<button class="level-button" disabled>Level 9: Reverse Array</button>
			</div>
		</div>
		<div id="menu-bottom-bar-grid">
			<div id="total-stars-display-container" class="variable-font-size">
				<label class="total-stars-label">Total:</label>
				<label id="total-stars-label" class="total-stars-label">0/0 ⭐</label>
			</div>
			<button id="syntax-button" @onclick="OnSyntaxPressed">Current Syntax: C#</button>
			<button id="solution-button" @onclick="OnSolutionPressed">See Solution</button>
		</div>
	</div>
</div>

</div>
</div>

@code {
	private void OnCompilePressed()
	{
	}

	private void OnEditPressed()
	{
	}

	private void OnRunPressed()
	{
	}

	private void OnLeftPressed()
	{
	}

	private void OnRightPressed()
	{
	}

	private void OnNextPressed()
	{
	}

	private void OnLevelPressed(int level)
	{
	}

	private void OnSyntaxPressed()
	{
	}

	private void OnSolutionPressed()
	{
	}
}